:root
{
    --font--xs:10px;
    --font--s:15px;
    --font--m:20px;
    --font--l:30px;
    /* --#{$prefix}card-group-margin: #{$card-group-margin}; */
}
.hero
{
    position: relative;
}
.hero .bg-imag
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: brightness(0.5);
    z-index: -1;
}
.hero .bg-imag img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero .heading
{
    padding: 250px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.head1
{
    font-weight: bold;
    font-size: var(--font--l);
    font-family: "Noto Kufi Arabic", sans-serif;
    color: white;
}
.head2
{
    font-weight: bold;
    font-size: var(--font--m);
    font-family: "Noto Kufi Arabic", sans-serif;
    color: white;
    /* padding-top: 10px; */
}
.more
{
    border: 0;
    border-radius: 10px;
    height: 29px;
    width: 105px;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: var(--font--m);
    color: white;
    background-color: #223654;
}
.center
{
    text-align: center;
    font-weight: bold;
    font-size: var(--font--l);
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #2a2b7b;
    padding-top: 1rem;
}
.about
{
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.check
{
    padding-top: 4rem;
}
label
{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: var(--font--m);
    padding-right: 5px;
}
.head3
{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-weight: bold;
    font-size: var(--font--l);
    color: #2a2b7b;
    padding-top: 1rem;
}
.para
{
    font-family:"Noto Kufi Arabic", sans-serif ;
    font-size: var(--font--m);
    padding-left: 1rem;   
}
.imge img
{
    width: 650px;
    height: 500px;
    border-radius: 15px;
}
.ne-card
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(71, 238, 224, 0.521);
    padding-top: 2rem;
    height: 300px;
    gap: 10px;
}
.father
{
    background-color: rgba(168, 196, 67, 0.411);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2rem 4rem;
    gap: 10px;
    border-radius: 5px;
    /* height: 400px; */
    text-align: center;
}
.ne-card .father .ne-text1
{
    color: white;
    font-family:"Noto Kufi Arabic", sans-serif;
    font-size: var(--font--m);
    font-weight: bold;
    padding-bottom: 1rem;
}
.ne-card .father .head
{
    color: whitesmoke;
    font-weight: bold;
    font-family:"Noto Kufi Arabic", sans-serif;
    font-size: var(--font--s);
    padding-bottom: 2rem;
}
.ne-more
{
    border: 0;
    border-radius: 10px;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: var(--font--m);
    font-weight: bold;
    color: white;
    background-color: rgba(231, 231, 231, 0.733);
    /* padding-top: 1rem; */
}
.father1
{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2rem 4rem;
    gap: 10px;
    border-radius: 5px;
    text-align: center;
}
.father1 .paraga
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.father1 .paraga .ne-text2
{
    color: gray;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-weight: bold;
    font-size: var(--font--m);
}
.head5
{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-weight: bold;
    color: #2a2b7b;
}
.midd
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 350px;
    overflow: hidden;
    padding-top: 2rem;
}
.midd .bg-img1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    filter: brightness(0.7);
}
.midd .bg-img1 img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.number
{
    text-align: center;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: white;
}
.header2
{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: var(--font--l);
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 20px;
    color: #2b4d7f;
}
.rate
{
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 242, 242);
}
.rate .middle
{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-weight: bold;
    font-size: var(--font--l);
    padding-bottom: 3rem;
    color: #2a2b7b;
}
.rate .rateing
{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-weight: bold;
    font-size: var(--font--m);
    color: #223654;
    padding-bottom: 2rem;
}
.rate .what
{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-weight: bold;
    font-size: var(--font--m);
    color: gray;
    width: 400px;
    border-right: 2px solid salmon;
    padding-left: 1rem;
    padding-right: 1rem;
}
.rate  img
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: right;
    margin-top: 7%;
    margin-right: 40%;
    position: absolute;
}
.like
{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-weight: bold;
    font-size: var(--font--m);
    color: grey;
}
.headin
{
    text-align: center;
    padding-top: 2rem;
    position: relative;
    top: 30px;
    font-family: Noto Kufi Arabic, sans-serif;
    font-weight: bold;
    font-size: var(--font--l);
    color: #223654;
}
   
   .container {
      display: flex;
      height: 100vh;
      padding-top: 4rem;
    }

    .left {
      flex: 1;
      background: url('R\ \(1\).jfif') no-repeat center center;
      background-size: cover;
      height: 500px;
      /* padding-top: 2rem; */
    }

    .right {
      flex: 1;
      background-color: #fff;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .h2 {
      font-size: 32px;
      margin-bottom: 30px;
      color: #333;
      font-family: Noto Kufi Arabic, sans-serif;
      font-weight: bold;
      color: #2b4d7f;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    input, textarea {
      padding: 12px;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }

    textarea 
    {
         resize: vertical;
    }

    .bttn4 {
      background-color: #2b4d7f;
      color: white;
      border: none;
      padding: 14px;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      font-family: Noto Kufi Arabic, sans-serif;
      font-weight: bold;
      font-size: var(--font--m);
   }











@media (max-width : 768px) {
    .about
    {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        overflow: hidden;
        align-items: center;
    }
    .imge img
    {
        width: 550px;
        height: 450px;
        padding-top: 1rem;
        }
    .ne-card
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 850px;
    }
    .father
    {
        height: 350px;
        width: 250px;
    }
    .father1
    {
        height: 350px;
        width: 250px;
    }
    .midd
    {
        display: flex;
        flex-direction: column;
        height: 550px;
    }
    .container
    {
        display: flex;
        align-items: center;
        width: 70%;
    }

}
@media (max-width: 620px) {
    .rate
    {
        display: flex;
        flex-direction: column;
        height: 800px;
    }
    .rate img
    {
        position: relative;
        top: 5px;
        right: -90px;
        padding-bottom: 1rem;
    }
    
}